@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(to bottom, #af67e9, #6565e7);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 95rem;
  margin: 0 auto;
}

.heading-primary {
  color: #1d1e35;
  font-size: 3rem;
  font-weight: 700;
}

.faq {
  background-color: #fff;
  border-radius: 20px;
}

.faq__accordian {
  padding: 6.4rem 6.4rem 6.4rem 0;
}

.faq__question-box {
  border-bottom: 1px solid #e7e7e9;
}

.faq__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem;
  font-size: 1.4rem;
  color: #4a4b5e;
}

.faq__answer {
  color: #787887;
  font-size: 1.2rem;
  line-height: 1.6;
}

.faq .show-answer {
  height: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid__col--2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid__col-gap--m {
  -webkit-column-gap: 4.8rem;
          column-gap: 4.8rem;
}

.margin-bottom--xs {
  margin-bottom: 1.2rem;
}

.margin-bottom--s {
  margin-bottom: 1.6rem;
}

.margin-bottom--m {
  margin-bottom: 2.4rem;
}

.hidden {
  display: none;
}

.rotate--180deg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.color__blue--desaturated {
  color: #1d1e35;
}

.fw--700 {
  font-weight: 700;
}
