@use "variables" as *;
//UTILITY CLASSES

// MARGINS

.margin-bottom--xs {
  margin-bottom: 1.2rem;
}

.margin-bottom--s {
  margin-bottom: 1.6rem;
}

.margin-bottom--m {
  margin-bottom: 2.4rem;
}

// HIDDEN
.hidden {
  display: none;
}

.rotate--180deg {
  transform: rotate(180deg);
}

.color__blue--desaturated {
  color: $color__desatured-blue--very-dark;
}

.fw--700 {
  font-weight: $fw--700;
}
