//VARIABLES
$color__red--soft: hsl(14, 88%, 65%);
$color__violet--soft: hsl(273, 75%, 66%);
$color__desatured-blue--very-dark: hsl(238, 29%, 16%);
$color__blue--soft: hsl(240, 73%, 65%);
$color__greyish-blue--dark: hsl(240, 6%, 50%);
$color__greyish-blue--very-dark: hsl(237, 12%, 33%);
$color__greyish-blue--light: hsl(240, 5%, 91%);
$color__white: #fff;

$fw--400: 400;
$fw--700: 700;
