@use "abstracts" as *;
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
    to bottom,
    $color__violet--soft,
    $color__blue--soft
  );

  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100vh;

  position: relative;

  @include flex;
  @include flex__center--hv;
}

.container {
  max-width: 95rem;
  margin: 0 auto;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
}
.heading-primary {
  color: $color__desatured-blue--very-dark;
  font-size: 3rem;
  font-weight: $fw--700;
}

.faq {
  background-color: $color__white;
  border-radius: 20px;
  background-image: url(../../images/bg-pattern-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -55rem -31rem;

  &__image-box-1 {
    position: relative;
    overflow: hidden;
  }

  &__image-1 {
    position: absolute;
    left: -17.5%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__image-box-2 {
    position: absolute;
    left: 13%;
    top: 56%;
    transform: translateY(-50%);
  }

  &__accordian {
    grid-column-start: 2;
    padding: 6.4rem 6.4rem 6.4rem 0;
  }

  &__question-box {
    border-bottom: 1px solid $color__greyish-blue--light;
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
    font-size: 1.4rem;
    color: $color__greyish-blue--very-dark;
  }

  &__answer {
    color: $color__greyish-blue--dark;
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .show-answer {
    height: 100%;
  }
}

@media (max-width: 30rem) {
  .grid-layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .container {
    max-width: 30rem;
  }

  .heading-primary {
    text-align: center;
  }

  .faq {
    background-image: none;
    padding: 2.4rem;

    &__image-box-1 {
      overflow: visible;
    }

    &__image-1 {
      top: -45px;
      left: 10%;
    }

    &__image--1 {
      width: 90%;
    }

    &__image--2 {
      width: 50%;
    }

    &__image-box-2 {
      top: 18%;
      left: 18%;
    }

    &__accordian {
      grid-column-start: 1;
      padding: 12rem 0 2.4rem 0;
    }

    &__answer {
      font-size: 1.3rem;
      padding-right: 3.2rem;
    }
  }
}
